In [262]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [263]:
df=pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [264]:
df=df[['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed','Generation','Legendary']]
df

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0    45      49       49       65       65     45           1      False
1    60      62       63       80       80     60           1      False
2    80      82       83      100      100     80           1      False
3    80     100      123      122      120     80           1      False
4    39      52       43       60       50     65           1      False
..   ..     ...      ...      ...      ...    ...         ...        ...
795  50     100      150      100      150     50           6       True
796  50     160      110      160      110    110           6       True
797  80     110       60      150      130     70           6       True
798  80     160       60      170      130     80           6       True
799  80     110      120      130       90     70           6       True

[800 rows x 8 columns]

In [265]:
from sklearn.model_selection import train_test_split
X=df.drop(columns='Legendary')
X

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0    45      49       49       65       65     45           1
1    60      62       63       80       80     60           1
2    80      82       83      100      100     80           1
3    80     100      123      122      120     80           1
4    39      52       43       60       50     65           1
..   ..     ...      ...      ...      ...    ...         ...
795  50     100      150      100      150     50           6
796  50     160      110      160      110    110           6
797  80     110       60      150      130     70           6
798  80     160       60      170      130     80           6
799  80     110      120      130       90     70           6

[800 rows x 7 columns]

In [266]:
y=df['Legendary']
y

0      False
1      False
2      False
3      False
4      False
       ...
795     True
796     True
797     True
798     True
799     True
Name: Legendary, Length: 800, dtype: bool

In [267]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [268]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [269]:
prediction=model.predict(X_test)

In [270]:
prediction

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False,  True, False, False, False,  True,  True, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
        True, False, False, False, False, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True, False, False, False, False, False,  True,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True, False, False, False, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [271]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(prediction,y_test)
accuracy

0.94375