In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()

In [4]:
df=pd.read_csv('spam.csv')
df.head(10)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
6      ham  Even my brother is not like to speak with me. ...
7      ham  As per your request 'Melle Melle (Oru Minnamin...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...

In [8]:
df=pd.concat([df,pd.get_dummies(df.Category)],axis='columns')
df

     Category                                            Message  ham  spam
0         ham  Go until jurong point, crazy.. Available only ...    1     0
1         ham                      Ok lar... Joking wif u oni...    1     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...    0     1
3         ham  U dun say so early hor... U c already then say...    1     0
4         ham  Nah I don't think he goes to usf, he lives aro...    1     0
...       ...                                                ...  ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...    0     1
5568      ham               Will ü b going to esplanade fr home?    1     0
5569      ham  Pity, * was in mood for that. So...any other s...    1     0
5570      ham  The guy did some bitching but I acted like i'd...    1     0
5571      ham                         Rofl. Its true to its name    1     0

[5572 rows x 4 columns]

In [9]:
df=df.drop(['Category','ham'],axis='columns')
df

                                                Message  spam
0     Go until jurong point, crazy.. Available only ...     0
1                         Ok lar... Joking wif u oni...     0
2     Free entry in 2 a wkly comp to win FA Cup fina...     1
3     U dun say so early hor... U c already then say...     0
4     Nah I don't think he goes to usf, he lives aro...     0
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...     1
5568               Will ü b going to esplanade fr home?     0
5569  Pity, * was in mood for that. So...any other s...     0
5570  The guy did some bitching but I acted like i'd...     0
5571                         Rofl. Its true to its name     0

[5572 rows x 2 columns]

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(['spam'],axis="columns"),df.spam,test_size=0.25)

In [12]:
X_trian=vectorizer.fit_transform(X_train)
X_test=vectorizer.fit_transform(X_test)
data.toarray()[:10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
from sklearn.naive_bayes import BernoulliNB,MultinomialNB

from sklearn.model_selection import cross_val_score
x=cross_val_score(BernoulliNB(),vectorizer.fit_transform(df['Message']),df.spam,cv=10)
x.mean()

0.9811541604730927

In [20]:
y=cross_val_score(MultinomialNB(),vectorizer.fit_transform(df['Message']),df.spam,cv=10)
y.mean()

0.9799000019304647