In [143]:
import pandas as pd
df=pd.read_csv('house.csv')
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [144]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/08/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/08/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/08/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [145]:
df['Lattitude'].fillna(df['Lattitude'].mean(),inplace=True)
df['Longtitude'].fillna(df['Longtitude'].mean(),inplace=True)
df['Price'].fillna(df['Price'].mean(),inplace=True)
df['BuildingArea'].fillna(df['BuildingArea'].mean(),inplace=True)
df['Bedroom2'].fillna(df['Bedroom2'].mean(),inplace=True)
df['Landsize'].fillna(df['Landsize'].mean(),inplace=True)
df['Bathroom'].fillna(df['Bathroom'].mean(),inplace=True)
df['Car'].fillna(df['Car'].mean(),inplace=True)
df['YearBuilt'].fillna(df['YearBuilt'].mean(),inplace=True)

In [146]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         1
Postcode         1
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      3
Lattitude        0
Longtitude       0
Regionname       3
Propertycount    3
dtype: int64

In [147]:
len(df)

34857

In [148]:
df['BuildingArea']

0        160.2564
1        160.2564
2         79.0000
3        160.2564
4        150.0000
           ...
34852    160.2564
34853    104.0000
34854    120.0000
34855    160.2564
34856    103.0000
Name: BuildingArea, Length: 34857, dtype: float64

In [149]:
df.dropna(inplace=True)

In [150]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [151]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1.050173e+06,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,160.2564,1965.289885,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1.480000e+06,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,160.2564,1965.289885,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1.035000e+06,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0000,1900.000000,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1.050173e+06,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,160.2564,1965.289885,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1.465000e+06,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0000,1900.000000,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [152]:
df.loc[df['CouncilArea']!='Yarra City Council']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
66,Airport West,154 Halsey Rd,3,t,8.400000e+05,PI,Nelson,3/09/2016,13.5,3042.0,...,2.000000,1.000000,303.000000,225.0000,2016.000000,Moonee Valley City Council,-37.718000,144.878000,Western Metropolitan,3464.0
67,Airport West,50 Bedford St,3,h,7.300000e+05,VB,Nelson,3/12/2016,13.5,3042.0,...,2.000000,1.000000,0.000000,145.0000,1965.000000,Moonee Valley City Council,-37.720300,144.875500,Western Metropolitan,3464.0
68,Airport West,50 Bedford St,3,h,7.700000e+05,SP,Nelson,4/03/2017,13.5,3042.0,...,2.000000,1.000000,0.000000,145.0000,1965.000000,Moonee Valley City Council,-37.720300,144.875500,Western Metropolitan,3464.0
69,Airport West,5 Harrington Rd,3,h,1.050173e+06,S,Brad,4/03/2017,13.5,3042.0,...,1.000000,1.000000,580.000000,114.0000,1960.000000,Moonee Valley City Council,-37.723500,144.873600,Western Metropolitan,3464.0
70,Airport West,23 Hart St,2,h,6.030000e+05,S,Nelson,4/03/2017,13.5,3042.0,...,1.000000,1.000000,272.000000,84.0000,1950.000000,Moonee Valley City Council,-37.729400,144.888000,Western Metropolitan,3464.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1.480000e+06,PI,Jas,24/02/2018,6.3,3013.0,...,1.000000,3.000000,593.000000,160.2564,1965.289885,Maribyrnong City Council,-37.810530,144.884670,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,8.880000e+05,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.000000,1.000000,98.000000,104.0000,2018.000000,Maribyrnong City Council,-37.815510,144.888260,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,7.050000e+05,S,Jas,24/02/2018,6.3,3013.0,...,1.000000,2.000000,220.000000,120.0000,2000.000000,Maribyrnong City Council,-37.822860,144.878560,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1.140000e+06,SP,hockingstuart,24/02/2018,6.3,3013.0,...,1.624798,1.728845,593.598993,160.2564,1965.289885,Maribyrnong City Council,-37.810634,145.001851,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1.020000e+06,PI,RW,24/02/2018,6.3,3013.0,...,1.000000,0.000000,250.000000,103.0000,1930.000000,Maribyrnong City Council,-37.818100,144.893510,Western Metropolitan,6543.0

In [153]:
df.drop('Postcode',axis=1,inplace=True)
df.drop(['Address','SellerG'],axis=1,inplace=True)
df.drop('Regionname',axis='columns',inplace=True)
df

,Suburb,Rooms,Type,Price,Method,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
0,Abbotsford,2,h,1.050173e+06,SS,3/09/2016,2.5,2.000000,1.000000,1.000000,126.000000,160.2564,1965.289885,Yarra City Council,-37.801400,144.995800,4019.0
1,Abbotsford,2,h,1.480000e+06,S,3/12/2016,2.5,2.000000,1.000000,1.000000,202.000000,160.2564,1965.289885,Yarra City Council,-37.799600,144.998400,4019.0
2,Abbotsford,2,h,1.035000e+06,S,4/02/2016,2.5,2.000000,1.000000,0.000000,156.000000,79.0000,1900.000000,Yarra City Council,-37.807900,144.993400,4019.0
3,Abbotsford,3,u,1.050173e+06,VB,4/02/2016,2.5,3.000000,2.000000,1.000000,0.000000,160.2564,1965.289885,Yarra City Council,-37.811400,145.011600,4019.0
4,Abbotsford,3,h,1.465000e+06,SP,4/03/2017,2.5,3.000000,2.000000,0.000000,134.000000,150.0000,1900.000000,Yarra City Council,-37.809300,144.994400,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1.480000e+06,PI,24/02/2018,6.3,4.000000,1.000000,3.000000,593.000000,160.2564,1965.289885,Maribyrnong City Council,-37.810530,144.884670,6543.0
34853,Yarraville,2,h,8.880000e+05,SP,24/02/2018,6.3,2.000000,2.000000,1.000000,98.000000,104.0000,2018.000000,Maribyrnong City Council,-37.815510,144.888260,6543.0
34854,Yarraville,2,t,7.050000e+05,S,24/02/2018,6.3,2.000000,1.000000,2.000000,220.000000,120.0000,2000.000000,Maribyrnong City Council,-37.822860,144.878560,6543.0
34855,Yarraville,3,h,1.140000e+06,SP,24/02/2018,6.3,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,Maribyrnong City Council,-37.810634,145.001851,6543.0
34856,Yarraville,2,h,1.020000e+06,PI,24/02/2018,6.3,2.000000,1.000000,0.000000,250.000000,103.0000,1930.000000,Maribyrnong City Council,-37.818100,144.893510,6543.0

In [154]:
df.head()

,Suburb,Rooms,Type,Price,Method,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount
0,Abbotsford,2,h,1.050173e+06,SS,3/09/2016,2.5,2.0,1.0,1.0,126.0,160.2564,1965.289885,Yarra City Council,-37.8014,144.9958,4019.0
1,Abbotsford,2,h,1.480000e+06,S,3/12/2016,2.5,2.0,1.0,1.0,202.0,160.2564,1965.289885,Yarra City Council,-37.7996,144.9984,4019.0
2,Abbotsford,2,h,1.035000e+06,S,4/02/2016,2.5,2.0,1.0,0.0,156.0,79.0000,1900.000000,Yarra City Council,-37.8079,144.9934,4019.0
3,Abbotsford,3,u,1.050173e+06,VB,4/02/2016,2.5,3.0,2.0,1.0,0.0,160.2564,1965.289885,Yarra City Council,-37.8114,145.0116,4019.0
4,Abbotsford,3,h,1.465000e+06,SP,4/03/2017,2.5,3.0,2.0,0.0,134.0,150.0000,1900.000000,Yarra City Council,-37.8093,144.9944,4019.0

In [155]:
dummies=pd.get_dummies(df.Type)
dummies.drop('u',axis=1,inplace=True)
dummies
df.drop('Type',axis=1,inplace=True)
df=pd.concat([df,dummies],axis=1)
df

,Suburb,Rooms,Price,Method,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount,h,t
0,Abbotsford,2,1.050173e+06,SS,3/09/2016,2.5,2.000000,1.000000,1.000000,126.000000,160.2564,1965.289885,Yarra City Council,-37.801400,144.995800,4019.0,1,0
1,Abbotsford,2,1.480000e+06,S,3/12/2016,2.5,2.000000,1.000000,1.000000,202.000000,160.2564,1965.289885,Yarra City Council,-37.799600,144.998400,4019.0,1,0
2,Abbotsford,2,1.035000e+06,S,4/02/2016,2.5,2.000000,1.000000,0.000000,156.000000,79.0000,1900.000000,Yarra City Council,-37.807900,144.993400,4019.0,1,0
3,Abbotsford,3,1.050173e+06,VB,4/02/2016,2.5,3.000000,2.000000,1.000000,0.000000,160.2564,1965.289885,Yarra City Council,-37.811400,145.011600,4019.0,0,0
4,Abbotsford,3,1.465000e+06,SP,4/03/2017,2.5,3.000000,2.000000,0.000000,134.000000,150.0000,1900.000000,Yarra City Council,-37.809300,144.994400,4019.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,1.480000e+06,PI,24/02/2018,6.3,4.000000,1.000000,3.000000,593.000000,160.2564,1965.289885,Maribyrnong City Council,-37.810530,144.884670,6543.0,1,0
34853,Yarraville,2,8.880000e+05,SP,24/02/2018,6.3,2.000000,2.000000,1.000000,98.000000,104.0000,2018.000000,Maribyrnong City Council,-37.815510,144.888260,6543.0,1,0
34854,Yarraville,2,7.050000e+05,S,24/02/2018,6.3,2.000000,1.000000,2.000000,220.000000,120.0000,2000.000000,Maribyrnong City Council,-37.822860,144.878560,6543.0,0,1
34855,Yarraville,3,1.140000e+06,SP,24/02/2018,6.3,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,Maribyrnong City Council,-37.810634,145.001851,6543.0,1,0
34856,Yarraville,2,1.020000e+06,PI,24/02/2018,6.3,2.000000,1.000000,0.000000,250.000000,103.0000,1930.000000,Maribyrnong City Council,-37.818100,144.893510,6543.0,1,0

In [156]:


dummies=pd.get_dummies(df.Method)
dummies
df.drop('Method',axis='columns',inplace=True)
df

,Suburb,Rooms,Price,Date,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Propertycount,h,t
0,Abbotsford,2,1.050173e+06,3/09/2016,2.5,2.000000,1.000000,1.000000,126.000000,160.2564,1965.289885,Yarra City Council,-37.801400,144.995800,4019.0,1,0
1,Abbotsford,2,1.480000e+06,3/12/2016,2.5,2.000000,1.000000,1.000000,202.000000,160.2564,1965.289885,Yarra City Council,-37.799600,144.998400,4019.0,1,0
2,Abbotsford,2,1.035000e+06,4/02/2016,2.5,2.000000,1.000000,0.000000,156.000000,79.0000,1900.000000,Yarra City Council,-37.807900,144.993400,4019.0,1,0
3,Abbotsford,3,1.050173e+06,4/02/2016,2.5,3.000000,2.000000,1.000000,0.000000,160.2564,1965.289885,Yarra City Council,-37.811400,145.011600,4019.0,0,0
4,Abbotsford,3,1.465000e+06,4/03/2017,2.5,3.000000,2.000000,0.000000,134.000000,150.0000,1900.000000,Yarra City Council,-37.809300,144.994400,4019.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,1.480000e+06,24/02/2018,6.3,4.000000,1.000000,3.000000,593.000000,160.2564,1965.289885,Maribyrnong City Council,-37.810530,144.884670,6543.0,1,0
34853,Yarraville,2,8.880000e+05,24/02/2018,6.3,2.000000,2.000000,1.000000,98.000000,104.0000,2018.000000,Maribyrnong City Council,-37.815510,144.888260,6543.0,1,0
34854,Yarraville,2,7.050000e+05,24/02/2018,6.3,2.000000,1.000000,2.000000,220.000000,120.0000,2000.000000,Maribyrnong City Council,-37.822860,144.878560,6543.0,0,1
34855,Yarraville,3,1.140000e+06,24/02/2018,6.3,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,Maribyrnong City Council,-37.810634,145.001851,6543.0,1,0
34856,Yarraville,2,1.020000e+06,24/02/2018,6.3,2.000000,1.000000,0.000000,250.000000,103.0000,1930.000000,Maribyrnong City Council,-37.818100,144.893510,6543.0,1,0

In [157]:
df.drop(['Date','Suburb','CouncilArea'],axis=1,inplace=True)
df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,h,t
0,2,1.050173e+06,2.5,2.000000,1.000000,1.000000,126.000000,160.2564,1965.289885,-37.801400,144.995800,4019.0,1,0
1,2,1.480000e+06,2.5,2.000000,1.000000,1.000000,202.000000,160.2564,1965.289885,-37.799600,144.998400,4019.0,1,0
2,2,1.035000e+06,2.5,2.000000,1.000000,0.000000,156.000000,79.0000,1900.000000,-37.807900,144.993400,4019.0,1,0
3,3,1.050173e+06,2.5,3.000000,2.000000,1.000000,0.000000,160.2564,1965.289885,-37.811400,145.011600,4019.0,0,0
4,3,1.465000e+06,2.5,3.000000,2.000000,0.000000,134.000000,150.0000,1900.000000,-37.809300,144.994400,4019.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1.480000e+06,6.3,4.000000,1.000000,3.000000,593.000000,160.2564,1965.289885,-37.810530,144.884670,6543.0,1,0
34853,2,8.880000e+05,6.3,2.000000,2.000000,1.000000,98.000000,104.0000,2018.000000,-37.815510,144.888260,6543.0,1,0
34854,2,7.050000e+05,6.3,2.000000,1.000000,2.000000,220.000000,120.0000,2000.000000,-37.822860,144.878560,6543.0,0,1
34855,3,1.140000e+06,6.3,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,-37.810634,145.001851,6543.0,1,0
34856,2,1.020000e+06,6.3,2.000000,1.000000,0.000000,250.000000,103.0000,1930.000000,-37.818100,144.893510,6543.0,1,0

In [158]:
from sklearn.linear_model import Lasso,Ridge
model1=Lasso(alpha=,max_iter=100,tol=0.1)
model2=Ridge(alpha=10,max_iter=100,tol=0.1)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('Price',axis=1),df.Price,test_size=0.2)

In [159]:
X_train

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,h,t
14204,1,6.6,1.000000,1.000000,0.000000,0.000000,160.2564,1940.000000,-37.868600,144.996900,2952.0,0,0
32335,3,16.7,4.000000,2.000000,2.000000,646.000000,160.2564,1965.289885,-37.862060,145.164520,15321.0,1,0
21470,3,12.0,3.000000,3.000000,1.000000,593.598993,160.2564,1965.289885,-37.709710,145.007950,21650.0,0,1
12883,3,13.0,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,-37.810634,145.001851,8870.0,1,0
19608,4,11.2,4.000000,2.000000,2.000000,866.000000,175.0000,1960.000000,-37.719790,144.923410,2651.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7112,3,8.4,3.000000,2.000000,2.000000,753.000000,170.0000,2005.000000,-37.841300,144.874100,5498.0,0,1
23749,4,24.8,4.000000,2.000000,2.000000,677.000000,195.0000,1990.000000,-37.894460,145.278020,10788.0,1,0
12608,1,3.4,3.084647,1.624798,1.728845,593.598993,160.2564,1965.289885,-37.810634,145.001851,2954.0,0,0
7589,1,2.6,1.000000,1.000000,1.000000,0.000000,160.2564,1965.289885,-37.786400,144.940900,2309.0,0,0
411,3,6.3,3.000000,2.000000,3.000000,0.000000,203.0000,2006.000000,-37.855500,145.029100,4836.0,0,0

In [160]:

model2.fit(X_train,y_train)

Ridge(alpha=10, max_iter=100, tol=0.1)

In [161]:
model1.fit(X_train,y_train)

Lasso(alpha=10, max_iter=100, tol=0.1)

In [162]:
model1.score(X_test,y_test)

0.3613443953121449

In [163]:
model2.score(X_test,y_test)

0.3613717846091108